@import "./_colors.scss";

.movieCarousel {
    color: $white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;

    .reload{
        flex-basis: 100%;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        .buttonReload{
            opacity: 70%;
            align-items: center;
            display: flex;
            padding: 5px;
            font-size: 1.2em;
            border-radius: 5px;
            border: none;
            background-color: $pink;
            color: $darkPurple;

            &:hover{
                cursor: pointer;
                opacity: 100%;
            }
        }
    }
    .movieContainer{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        overflow: hidden;
        transition: transform 0.3s ease;
        
        .movie {
            &:first-of-type {
                transform: rotateZ(-5deg);
                opacity: 60%;
                &:hover {
                    cursor: pointer;
                }
            }
            &.lastMovie {
                opacity: 60%;
                transform: rotateZ(5deg);
                
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    
   
    
    .carouselNavigation {
        flex-basis: 100%;
        display: flex;
        justify-content:  center;
        button {
            opacity: 70%;
            border: none;
            background-color: transparent;
            color: $white;
            font-size: 2em;
            
            &:hover {
                cursor: pointer;
                color: $pink;
            }
        }

    }
}