@import "./colors";

.movieCarousel {
    color: $white;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;

    .movieContainer{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        overflow: hidden;
        transition: transform 0.3s ease;
        
        .movie {
            &:first-of-type {
                transform: rotateZ(-5deg);
                opacity: 60%;
                &:hover {
                    cursor: pointer;
                }
            }
            &.lastMovie {
                opacity: 60%;
                transform: rotateZ(5deg);
                
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    
   
    
    .carouselNavigation {
        flex-basis: 100%;
        display: flex;
        justify-content:  center;
        margin-top: 60px;
        button {
            opacity: 70%;
            border: none;
            background-color: transparent;
            color: $white;
            font-size: 2em;
            
            &:hover {
                cursor: pointer;
                color: $pink;
            }
        }

    }
}