@import "./_colors.scss";

.search {
    .searchContainer{
        text-align: center;
        color:$purple;
        width: 60%;
        margin: 10px auto;
        .searchbar {
            margin: 0 auto;
            border: 1px solid $purple;
            width: 60%;
            padding: 5px 0px 5px 0px;
            display: flex;
            justify-content: space-around;
            border-radius: 20px;
            input{
                border: none;
                color:$purple;
                flex-basis: 80%;
                background-color: transparent;
                caret-color: $purple;
                &:focus{
                    outline: none;
                }
            }
            .searchSelectors{
                flex-basis: 10%;
                display: flex;
                justify-content: space-around;

                *:hover{
                    cursor: pointer;
                }
                .filter{
                    &.highlight{
                        color:$pink;
                    }
                }
            }
            
        }
    }

    .searchResults{
        display: flex;
        justify-content: space-around;
    }
}